<%= form_for(@reserf) do |f| %>
  <% if @reserf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
      <% @reserf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :reserve_at %>
  <%= f.datetime_select :reserve_at %>
  <br>
  <%= f.label :num_in_party %>
  <%= f.text_field :num_in_party %>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
