<h1>Listing students</h1>

<table>
  <tr>
    <th>Given name</th>
    <th>Middle name</th>
    <th>Family name</th>
    <th>Date of birth</th>
    <th>Grade point average</th>
    <th>Start date</th>
    <th>Courses</th>
    <th>Awards</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.given_name %></td>
    <td><%= student.middle_name %></td>
    <td><%= student.family_name %></td>
    <td><%= student.date_of_birth %></td>
    <td><%= student.grade_point_average %></td>
    <td><%= student.start_date %></td>
    <td><%= student.courses.count %></td>
    <td><%= student.awards.count %></td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Courses', courses_student_path(student) %></td>
    <td><%= link_to 'Awards', student_awards_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_student_path %>
