<h1>Roll for <%= @course.name %> </h1>

<% if @course.students.length > 0 %>
  <table>
    <tr>
      <th>Student</th>
      <th>GPA</th>
    </tr>

  <% @course.students each do |student| %>
    <tr>
      <td><%= link_to student.name, student %></td>
      <td><%= student.grade_point_average %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No students are enrolled.</p>
<% end %>

<p><%= link_to "Back", @course %></p>
