<h1>Awards for <%= @student.name %></h1>

<% if !@student.awards.empty? %>
<table>
  <tr>
    <th>Year</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for award in @awards %>
  <tr>
    <td><%= award.name %></td>
    <td><%= award.year %></td>
    <td><%= award.student.name %></td>
    <td><%= link_to 'Show', [@student, award] %></td>
    <td><%= link_to 'Edit', edit_student_award_path(@student, award) %></td>
    <td><%= link_to 'Destroy', [@student, award], :method => :delete, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<br />

<% else %>
  <p><%= @student.given_name %> hasn't won any awards yet.</p>
<% end %>

<p>
  <%= link_to 'New Award', new_student_award_path(@student) %> |
  <%= link_to 'Back', @student %>
</p>
